html, body {
  background-color: #F0F0F0;
}

.doc-container {
  text-align: center;
  width: 38vw;
  height: 50vw;
  background-color: white;
  border-radius: 30px;
  position: inline-block;
  margin-top: 50px;
  margin-left: 60px;
  margin-bottom: 100px;
  float: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.zettel-container {
  text-align: center;
  width: 50vw;
  height: 50vw;
  background-color: white;
  border-radius: 30px;
  position: inline-block;
  margin-right: 60px;
  margin-top: 50px;
  margin-bottom: 100px;
  float: right;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.doc-container-header, .zettel-container-header {
  font-size: 35px;
  color: #181818;
}
